.button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: #7eb8e7;
  box-shadow: 0 2px 6px rgba(126, 184, 231, 0.15);
  border: 1px solid #d6e6f2;
  transition: 0.3s;
  border-radius: 6px;
}

.button:active {
  background-color: #3e9ff1;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #c1dbf5;
  }
}

@media screen and (max-width: 400px) {
  .button {
    font-size: 18px;
  }
}