.button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: #7eb8e7;
  box-shadow: 0 2px 6px rgba(126, 184, 231, 0.15);
  border: 1px solid #d6e6f2;
  transition: transform 0.1s ease;
  border-radius: 6px;
}

.button:not(:disabled):active {
  transform: translateY(2px);
  background-color: #519edf;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

@media screen and (max-width: 400px) {
  .button {
    font-size: 18px;
  }
}