.button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  background-color: #7eb8e7 !important;
  box-shadow: 0 2px 6px rgba(126, 184, 231, 0.15);
  border: 1px solid #d6e6f2;
  transition: 0.3s;
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
  color: #2c3e50;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.button:active {
  background-color: #7ebcf0;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #c1dbf5;
  }
}

@media screen and (max-width: 400px) {
  .button {
    font-size: 18px;
  }
}